body{
  background-color: #c2d0dd;
  text-align: center;
}
.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #1f3347;
  color: rgb(21, 4, 4);
  border: 6px solid #0b0d0f;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.503);
}
.container {
  padding-top: 20px;
}

.grid-row {
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.5em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(48, 19, 19);
}
.btn {
  border: 2px solid rgb(104, 104, 236);
  border-radius: 10px;
  font-size: 1.2em;
}

.title {
  font-size: 3em;
  text-shadow: .3em .3em .3em rgba(0, 0, 0, 0.58);
}