body {
  background-color: #21364f;
}


.game-board {
  width: 20em;
  height: 35em;
  margin: 0 auto;
  background-color: #a9bfd4;
  color: rgb(72, 75, 71);
  border: 3px solid #0b0d0f;
  border-radius: 10px;
  display: grid;
  text-align: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  box-shadow: .5em .5em 1em rgba(0, 0, 0, 0.724);
}
.status {
  padding: 20px;
}
.container {
  align-items: center;
  padding-top: 20px;
}

.grid-row {
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.5em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.square {
  border: 2px solid rgb(149, 149, 199);
  border-radius: 10px;
  font-size: 1em;
  background-color: #1f3347;
} 
.square:hover {
  transform: scale(1.1);
}

.title {
  width: 10em;
  padding: 1em;
  margin: 0 auto;
  margin-top: 1em;
  color: aliceblue;
  border: 2px solid rgb(2, 2, 152);
  border-radius: 10px;
  font-size: 2em;
  background-color: #6f7378;
  background-image: linear-gradient(to right, rgba(0, 55, 255, 0.277) , rgba(1, 255, 56, 0.202));
  text-align: center;
  text-shadow: .3em .3em .3em rgba(0, 0, 0, 0.58);
  box-shadow: .3em .3em .3em rgba(0, 0, 0, 0.546);
}

.reset {
  padding: 10px;
  margin: 20px;
  font-size: 1.5;
  border-radius: 10px;
  background-color: #b5ff9e;

  &:hover {
    transform: scale(1.1);
  }

}
